doctype html
html
link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
center
 
  body(class='container')
  h1 FreeCodeCamp API: Image Search Abstraction Layer
  br
  br
  h2 404 ERROR: PLEASE CHECK THE URL !!! 
  br
  br
  h3 Please check the examples in the <a href="/">Home page</a>
  
  h3 Git repo:
  code https://github.com/ChaituVR/ImageSearch.git <br><br><br><br>

